---
layout: default
titleAfter: Super objects from outer space!
---

<main>
	<h1>The Planets of Outer Space!</h1>
	
	<p>There's lots of planets in outer space.</p>
	
	<h2>Types of Planets</h2>
	
	<ol>
		{% for planet in site.data.planet-types %}
		<li>
			<a href="{{site.baseurl}}/planets/{{planet.folder}}/">{{planet.title}}</a>
			<p>{{planet.content | markdownify }}</p>
		</li>
		{% endfor %}
	</ol>
	
	<h2>Recently Discovered</h2>
	
	<ul>
		{% for news in site.categories.recently-discovered limit:2 %}
		<li>
			<a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
			<p>{{news.meta}}</p>
		</li>
		{% endfor %}
	</ul>
	
</main>
