<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- page info -->
	<title>{% if page.title %}{{page.title}} &middot; {% endif %}The Planets of Outer Space!{% if page.titleAfter %} &middot; {{page.titleAfter}}{% endif %}</title>
	
	<!-- styles -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
	
</head>
<body>

<header class="masthead {{page.mastheadClass}}">
	<h1>Planets of Outer Space</h1>
{% include nav.html navclass='nav-top' %}
</header>

{{content}}


<footer>
{% include nav.html navclass='nav-bottom' %}
	<p>&copy; 2013 Planets of the Universe</p>
	<p>Images from <a href="https://commons.wikimedia.org/">Wikimedia Commons</a></p>
	<p>Site hosted on <a href="https://github.com/insubstudios/fuzzy-planets">GitHub</a></p>
</footer>
</body>
</html>
