<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- page info -->
	<title>The Planets of Outer Space!</title>
	
	<!-- styles -->
	<link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
	
</head>
<body>

<header>
	<h1>Planets of Outer Space</h1>
	{% include nav.html %}
</header>

{{content}}


<footer>
	{% include nav.html %}
	<p>&copy; 2013 Planets of the Universe</p>
</footer>
</body>
</html>
